.container {
  background-color: #ffecc8;
  max-width: 50em;
  margin-top: 1em;
  border-radius: 25px;
  padding: 2em;
  color: #222122;
}

.container h4 {
  color: #c45a01;
  margin-bottom: 10px;
}

.container p {
  color: #c26111;
  margin-bottom: 10px;
}
