.container {
  background-color: #7a40f2;
  min-height: 90vh;
  border-radius: 1.5em;
  max-width: 5em;
}

.sideBarItem {
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 1.8em;
  width: 100%;
  z-index: 1;

  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

.sideBarItem:hover {
  color: #7a40f2;
}

.sideBarItem::before {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 20px;
  height: 100%;
  content: "";
  background-color: #f9f9f9;

  transition: all 300ms ease;
  opacity: 0;
  width: 0;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}

.sideBarItem:hover::before {
  opacity: 1;
  width: 90%;
}
